<%- include('components/navbar.ejs') %>
<div class="container mt-4">
    <main role="main">
        <div class="row">
            <div class="col">
                <h1>Orders</h1>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Order</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.forEach(({_id, order, total})=> { %>
                                <tr>
                                    <td>
                                        <%= id %>
                                    </td>
                                    <td>
                                        <%= order %>
                                    </td>
                                    <td>
                                        <%= total %>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="/order/<%=_id%>">update</a>
                                        <a class="btn btn-danger" href="/order/delete/<%=_id%>">delete</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>